<!DOCTYPE html>
<script src="http://localhost:35729/livereload.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring-boot Thymeleaf POS Web Application</title>
    <link href="webjars/bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Spring-boot Thymeleaf POS Web Application</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Pricing</a>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
        </div>-->
    </div>
</nav>

<div class="container">

    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-danger"><a href="customer">Customer</a></button>
        <button type="button" class="btn btn-warning"><a href="item">Item</a></button>
        <button type="button" class="btn btn-success"><a href="pos">POS</a></button>
    </div>

</div>

</body>
</html>